<!DOCTYPE html >
<html data-bs-theme="dark">
 
<head>
    {% include 'partials/head.html' %}
</head>
 
<body>
    {% block body %}

    <div class="container-fluid p-4 mx-auto xs">
    <h1>IEEE-754 Binary-16 floating point converter</h1>
    <div class="alert alert-primary" role="alert">
        Binary Mantissa/Base-2 ==> IEEE-Binary-16 format or 
        <br>Decimal Mantissa/Base-10 ==> IEEE-Binary-16 format

        
    </div>

    <div class="alert alert-warning" role="alert">
        E<sub>min</sub> = -14 = 00001<sub>2</sub>

        <br>
        E<sub>max</sub> = 15 = 01111<sub>2</sub>
    </div>



    {% include 'partials/form.html'%}
    
    {% endblock %}
    </div>

</body>
 
</html>