<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>
    <h1>IEEE-754 Binary-16 floating point converter</h1>

 <!-- this section can be replaced by a child document -->  
{% block body %}

<form method="POST" action="/submit">
    <label>Binary Mantissa</label>
    <input type="text" name="bmantissa" value="2132">

    <label>Exponent</label>
    <input type="text" name="exp" value="-5">

    <input type="submit" value="submit">
</form>

<button>Export to File</button>

<h3>Result: </h3>
<p>Binary: {{ result }}</p>
<p>Hexadecimal: </p>
 
 
{% endblock %}
 
 
</body>
 
</html>